.character {
	
	$multiplier: 2;
	$wizard-width: 20px;
	$wizard-height: 33px;
	&--wizard {
		width: $wizard-width * $multiplier;
		height: $wizard-height * (3 * $multiplier);
		margin-left: -$wizard-width / 2 * $multiplier;
		background-image: url("/assets/images/wizard.png");
	}

	$pirate-width: 20px;
	$pirate-height: 26px;
	&--pirate {
		width: $pirate-width * $multiplier;
		height: $pirate-height * (3 * $multiplier);
		margin-left: -$pirate-width / 2 * $multiplier;
		background-image: url("/assets/images/pirate.png");
	}

	$ship-multiplier: 3;
	$ship-width: 19px;
	$ship-height: 25px;
	&--ship {
		width: $ship-width * $ship-multiplier;
		height: $ship-height * (3 * $ship-multiplier);
		margin-left: -$ship-width / 2 * $ship-multiplier;
		background-image: url("/assets/images/ship.png");
	}
}