.character {
	
	$multiplier: 2;
	$wizard-width: 20px;
	$wizard-height: 33px;
	&--wizard {
		width: $wizard-width * $multiplier;
		height: $wizard-height * (3 * $multiplier);
		margin-left: -$wizard-width / 2 * $multiplier;
		background-image: url("/assets/images/wizard.png");
	}

	$pirate-width: 20px;
	$pirate-height: 26px;
	&--pirate {
		width: $pirate-width * $multiplier;
		height: $pirate-height * (3 * $multiplier);
		margin-left: -$pirate-width / 2 * $multiplier;
		background-image: url("/assets/images/pirate.png");
	}

	$fisherman-width: 19px;
	$fisherman-height: 31px;
	&--fisherman {
		width: $fisherman-width * $multiplier;
		height: $fisherman-height * (3 * $multiplier);
		margin-left: -$fisherman-width / 2 * $multiplier;
		background-image: url("/assets/images/fisherman.png");
	}

	$runner-width: 12px;
	$runner-height: 23px;
	&--runner {
		width: $runner-width * $multiplier;
		height: $runner-height * (3 * $multiplier);
		margin-left: -$runner-width / 2 * $multiplier;
		background-image: url("/assets/images/runner.png");
	}

	$levendig-width: 13px;
	$levendig-height: 24px;
	$levendig-frames: 3;
	&--levendig {
		width: $levendig-width * $multiplier;
		height: $levendig-height * (3 * $multiplier);
		margin-left: -$levendig-width / 2 * $multiplier;
		background-size: (100% * $levendig-frames) 100%;
		background-image: url("/assets/images/levendig.png");
	}

	$envelope-width: 15px;
	$envelope-height: 12px;
	&--envelope {
		width: $envelope-width * $multiplier;
		height: $envelope-height * (3 * $multiplier);
		margin-left: -$envelope-width / 2 * $multiplier;
		background-image: url("/assets/images/envelope.png");
	}

	$fighter-width: 43px;
	$fighter-height: 34px;
	$fighter-frames: 5;
	&--fighter {
		width: $fighter-width * $multiplier;
		height: $fighter-height * (3 * $multiplier);
		margin-left: -$fighter-width / 1.8 * $multiplier;
		background-size: (100% * $fighter-frames) 200%;
		background-image: url("/assets/images/fighter.png");
	}

	$ship-multiplier: 3;
	$ship-width: 19px;
	$ship-height: 25px;
	&--ship {
		width: $ship-width * $ship-multiplier;
		height: $ship-height * (3 * $ship-multiplier);
		margin-left: -$ship-width / 2 * $ship-multiplier;
		background-image: url("/assets/images/ship.png");
	}
}