.conversation {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	background-image: url("/assets/images/landscape-1.jpg");
	background-size: cover;
	font-family: "Press Start 2P";
	font-size: 24px;

	$enter-duration: 2s;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;
		background-color: #547651;
		transition: transform $enter-duration;
	}

	&--not-started {
		&:after {
			transform: translateY(500px);
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: transform $enter-duration;

		&--2 {
			background-image: url("/assets/images/landscape-2.png");
			.conversation--not-started & {
				transform: translateY(20%);
			}
		}
		
		&--3 {
			background-image: url("/assets/images/landscape-3.png");
			.conversation--not-started & {
				transform: translateY(30%);
			}
		}
		
		&--4 {
			background-image: url("/assets/images/landscape-4.png");
			.conversation--not-started & {
				transform: translateY(40%);
			}
		}
		
		&--5 {
			background-image: url("/assets/images/landscape-5.png");
			.conversation--not-started & {
				transform: translateY(50%);
			}
		}
	}

	&__people {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
		padding-bottom: 25px;
		transition: transform $enter-duration;
		
		.conversation--not-started & {
			transform: translateY(500px);
		}
	}

	$dina-width: 88px;
	$dina-height: 200px;
	$wizard-width: 160px;
	$wizard-height: 264px;
	$pirate-width: 160px;
	$pirate-height: 208px;
	$fighter-width: 240px;
	$fighter-height: 272px;

	&__person {
		position: relative;
		background-repeat: none;
		background-size: cover;
		background-position: top left;
		image-rendering: pixelated;

		&--dina {
			width: $dina-width;
			height: $dina-height;
			background-image: url("/assets/images/dina.png");
		}

		&--wizard {
			width: $wizard-width;
			height: $wizard-height;
			background-image: url("/assets/images/wizard.png");
		}

		&--pirate {
			width: $pirate-width;
			height: $pirate-height;
			background-image: url("/assets/images/pirate.png");
		}

		&--fighter {
			width: $fighter-width;
			height: $fighter-height;
			background-image: url("/assets/images/fighter.png");
			background-size: 400% 100%;
			animation: fighter-jump 0.8s infinite steps(4);

			@keyframes fighter-jump {
				0% {
					background-position: 0%;
				}

				100% {
					background-position: -$fighter-width * 4;
				}
			}
		}
	}

	&__bubble {
		.conversation--not-started & {
			visibility: hidden;
		}
		transition: visibility 0s;
		transition-delay: $enter-duration + 0.2s;
		position: absolute;
		padding: 16px;
		background-color: #fff;
		color: #000;
		max-width: 350px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			bottom: -8px;
			right: 0;
			background-color: inherit;
			width: 8px;
			height: 8px;
		}

		&:after {
			bottom: -16px;
			right: -8px;
		}


		&--dina {
			right: auto;
			left: $dina-width + 16px;
			bottom: 0.9 * $dina-height;
			&:before {
				right: auto;
				left: 0;
			}

			&:after {
				right: auto;
				left: -8px;
			}
		}

		&--wizard {
			right: $wizard-width + 16px;
			bottom: 0.9 * $wizard-height;	
		}

		&--pirate {
			right: $pirate-width + 16px;
			bottom: 0.9 * $pirate-height;	
		}

		&--fighter {
			right: $pirate-width + 16px;
			bottom: 0.9 * $pirate-height;	
		}
	}

	&__decision {
		position: absolute;
		width: 700px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #fff;
		color: #000;
		padding: 16px;
		border: 8px solid #000;

		&--done {
			display: none;
		}
	}

	&__decision-options {
		margin-top: 8px;
	}

	&__decision-option {
		margin-top: 4px;
	}
}