@import '../helpers';

.map {
	$cell-size: 30px;
	$cell-move-time: 0.5s;

	position: relative;
	padding: 20px;
	perspective: 650px;
	overflow: hidden;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform $cell-move-time;
	}

	&__row {
		display: flex;
	}

	&__cell {
		border: 1px solid rgba(0,0,0,0.1);
		width: $cell-size;
		height: $cell-size;
		font-size: 10px;
		line-height: 1;
		transition: opacity $cell-move-time;
		transition-delay: $cell-move-time / 2;

		&--height {
			&-0 {
				background-color: #008EB0;
			}

			&-1 {
				background-color: #547651;
			}
		}
	}

	&__compass {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 1;
	}

	&__compass-button {
		position: absolute;
		width: 40px;
		height: 40px;
		border: 0;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 24px;
		outline: 0;
		appearance: none;
		text-transform: uppercase;

		&--north {
			top: 0;
			left: 50%;
			margin-left: -20px;
		}

		&--south {
			bottom: 0;
			left: 50%;
			margin-left: -20px;
		}

		&--east {
			top: 50%;
			margin-top: -22px;
			right: 0;
		}

		&--west {
			top: 50%;
			margin-top: -22px;
			left: 0;
		}

		&:disabled {
			opacity: 0.2;
		}
	}
}