@import '../helpers';

.race-bar {
	color: #666;
	&__bar {
		position: relative;
		border: 4px solid currentColor;
		background-color: rgba(0,0,0,0.3);
		width: 100%;
		height: 50px;
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #f00;
	}
}