.scene {
	$enter-duration: 2s;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	background-image: url("/assets/images/landscape-1.jpg");
	background-size: cover;
	background-position: left top;
	transition: opacity $enter-duration 0.5s;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;
		background-color: #547651;
		transition: transform $enter-duration;
	}

	&--not-started {
		&:after {
			transform: translateY(500px);
		}
	}

	&--dark {
		opacity: 0;
		transition: opacity $enter-duration 0s;
	}

	&__bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position-y: bottom;
		transition: transform $enter-duration;

		&--2 {
			background-image: url("/assets/images/landscape-2.png");
			.scene--not-started & {
				transform: translateY(20%);
			}
		}
		
		&--3 {
			background-image: url("/assets/images/landscape-3.png");
			.scene--not-started & {
				transform: translateY(30%);
			}
		}
		
		&--4 {
			background-image: url("/assets/images/landscape-4.png");
			.scene--not-started & {
				transform: translateY(40%);
			}
		}
		
		&--5 {
			background-image: url("/assets/images/landscape-5.png");
			.scene--not-started & {
				transform: translateY(50%);
			}
		}

		&--parallax {
			background-size: contain;
			background-repeat: repeat-x;
			// width: 200%;

			&.scene__bg {
				&:after {
					content: "";
					height: 100%;
					width: 100%;
					position: absolute;
					left: 100%;
					bottom: 0;
					background-image: inherit;
					background-size: contain;
					background-position-y: bottom;
					background-repeat: repeat-x;
				}
				&--2 {
					animation: bg-parallax 256s linear infinite;
				}

				&--3 {
					animation: bg-parallax 128s linear infinite;
				}

				&--4 {
					animation: bg-parallax 64s linear infinite;
				}

				&--5 {
					animation: bg-parallax 32s linear infinite;
				}
				@keyframes bg-parallax {
					0% {
						transform: translateX(0);
					}
					100% {
						transform: translateX(-100%);
					}
				}

			}
		}
	}

	&__logo {
		$logo-width: 606px;
		$logo-height: 387px;
		position: absolute;
		width: $logo-width;
		height: $logo-height;
		top: 50px;
		left: 50%;
		margin-left: -($logo-width/2);
		background-image: url("/assets/images/logo.png");
	}

	&__people {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
		padding-bottom: 25px;
		transition: transform $enter-duration;
		
		.scene--not-started & {
			transform: translateY(500px);
		}

		&--wide {
			width: 1000px;
		}		
	}

	$dina-width: 88px;
	$dina-height: 200px;
	$wizard-width: 160px;
	$wizard-height: 264px;
	$pirate-width: 160px;
	$pirate-height: 208px;
	$brute-width: 584px;
	$brute-height: 352px;
	$fighter-width: 344px;
	$fighter-height: 272px;
	$fighter-frames: 5;

	&__person {
		position: relative;
		background-repeat: none;
		background-size: cover;
		background-position: top left;
		image-rendering: pixelated;

		&--dina {
			width: $dina-width;
			height: $dina-height;
			background-image: url("/assets/images/dina.png");

			&-walking {
				animation: dina-walk 0.75s steps(2) infinite;
			}

			@keyframes dina-walk {
				0% {
					background-position: $dina-width;
				}
				100% {
					background-position: 3 * $dina-width;
				}
			}
		}

		&--wizard {
			width: $wizard-width;
			height: $wizard-height;
			background-image: url("/assets/images/wizard.png");
		}

		&--pirate {
			width: $pirate-width;
			height: $pirate-height;
			background-image: url("/assets/images/pirate.png");
		}

		&--brute {
			width: $brute-width;
			height: $brute-height;
			background-image: url("/assets/images/brute.png");

			&-punching {
				animation: brute-punch 0.5s steps(1);
			}
			
			&-look-back {
				background-position: 100%;
			}

			@keyframes brute-punch {
				0% {
					background-position: 50%;
				}

				100% {
					background-position: 0%;
				}
			}
		}

		&--fighter {
			width: $fighter-width;
			height: $fighter-height;
			background-image: url("/assets/images/fighter.png");
			background-size: (100% * $fighter-frames) 200%;
			animation: fighter-jump 0.8s infinite steps($fighter-frames);
			transition: transform 1s;

			.scene--not-started & {
				transition: none;
			}

			&-won {
				background-position-y: -100%;
				animation: fighter-run-away 0.8s infinite steps($fighter-frames - 1);
			}

			@keyframes fighter-jump {
				0% {
					background-position-x: 0%;
				}

				100% {
					background-position-x: -$fighter-width * $fighter-frames;
				}
			}

			@keyframes fighter-run-away {
				0% {
					background-position-x: 0%;
				}

				100% {
					background-position-x: -$fighter-width * ($fighter-frames - 1);
				}
			}
		}
	}

	&__bubble {
		.scene--not-started & {
			visibility: hidden;
		}
		transition: visibility 0s;
		transition-delay: $enter-duration + 0.2s;
		position: absolute;
		padding: 16px;
		background-color: #fff;
		color: #000;
		max-width: 350px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			bottom: -8px;
			right: 0;
			background-color: inherit;
			width: 8px;
			height: 8px;
		}

		&:after {
			bottom: -16px;
			right: -8px;
		}


		&--dina {
			right: auto;
			left: $dina-width + 16px;
			bottom: 0.9 * $dina-height;
			&:before {
				right: auto;
				left: 0;
			}

			&:after {
				right: auto;
				left: -8px;
			}
		}

		&--wizard {
			right: $wizard-width + 16px;
			bottom: 0.9 * $wizard-height;	
		}

		&--pirate {
			right: $pirate-width + 16px;
			bottom: 0.9 * $pirate-height;	
		}

		&--fighter {
			right: $fighter-width * 0.6;
			bottom: 0.9 * $fighter-height;	
		}
	}

	&__decision {
		position: absolute;
		width: 700px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #fff;
		color: #000;
		padding: 16px;
		border: 8px solid #000;

		&--done {
			display: none;
		}
	}

	&__decision-options {
		margin-top: 8px;
	}

	&__decision-option {
		margin-top: 4px;
	}

	&__instruction {
		position: absolute;
		width: 1000px;
		top: 50px;
		left: 50%;
		margin-left: -500px;
		color: #fff;
		text-align: center;

		&--bottom {
			top: auto;
			bottom: 50px;
		}

		&--blink {
			animation: blink 2s step-end infinite;

			@keyframes blink {
				0%, 100% {
					visibility: visible;
				}
				50% {
					visibility: hidden;
				}
			}
		}
	}
}