<!DOCTYPE html>
<html>
<head>
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script>
		var config = {
			apiKey: "AIzaSyCph5MSuHyvSNOS0Jpzi65ioz6OcRko55k",
			authDomain: "dina2017-467b9.firebaseapp.com",
			databaseURL: "https://dina2017-467b9.firebaseio.com",
			storageBucket: "dina2017-467b9.appspot.com",
			messagingSenderId: "939486320269"
		};
		firebase.initializeApp(config);
	</script>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<link rel="preload" href="/assets/images/brute.png" as="image">
	<link rel="preload" href="/assets/images/dina-with-chocolate.png" as="image">
	<link rel="preload" href="/assets/images/dina.png" as="image">
	<link rel="preload" href="/assets/images/envelope.png" as="image">
	<link rel="preload" href="/assets/images/fighter.png" as="image">
	<link rel="preload" href="/assets/images/fisherman.png" as="image">
	<link rel="preload" href="/assets/images/landscape-1.jpg" as="image">
	<link rel="preload" href="/assets/images/landscape-2.png" as="image">
	<link rel="preload" href="/assets/images/landscape-3.png" as="image">
	<link rel="preload" href="/assets/images/landscape-4.png" as="image">
	<link rel="preload" href="/assets/images/landscape-5.png" as="image">
	<link rel="preload" href="/assets/images/levendig.png" as="image">
	<link rel="preload" href="/assets/images/logo.png" as="image">
	<link rel="preload" href="/assets/images/mountain-start.png" as="image">
	<link rel="preload" href="/assets/images/parchment.png" as="image">
	<link rel="preload" href="/assets/images/pirate.png" as="image">
	<link rel="preload" href="/assets/images/runner.png" as="image">
	<link rel="preload" href="/assets/images/sailing-ship.png" as="image">
	<link rel="preload" href="/assets/images/ship.png" as="image">
	<link rel="preload" href="/assets/images/waves.png" as="image">
	<link rel="preload" href="/assets/images/wizard.png" as="image">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<meta charset="utf-8">
	<title>Dina Quest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="preact-boilerplate">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="preact-boilerplate">
	<meta name="application-name" content="preact-boilerplate">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="./manifest.json">
</head>
<body>
	<div class="u-hide">
		<img src="/assets/images/brute.png">
		<img src="/assets/images/dina-with-chocolate.png">
		<img src="/assets/images/dina.png">
		<img src="/assets/images/envelope.png">
		<img src="/assets/images/fighter.png">
		<img src="/assets/images/fisherman.png">
		<img src="/assets/images/landscape-1.jpg">
		<img src="/assets/images/landscape-2.png">
		<img src="/assets/images/landscape-3.png">
		<img src="/assets/images/landscape-4.png">
		<img src="/assets/images/landscape-5.png">
		<img src="/assets/images/levendig.png">
		<img src="/assets/images/logo.png">
		<img src="/assets/images/mountain-start.png">
		<img src="/assets/images/parchment.png">
		<img src="/assets/images/pirate.png">
		<img src="/assets/images/runner.png">
		<img src="/assets/images/sailing-ship.png">
		<img src="/assets/images/ship.png">
		<img src="/assets/images/waves.png">
		<img src="/assets/images/wizard.png">
	</div>
</body>
</html>
